{% extends 'base.html' %}
{% load static %}
{% block meta %}
<head><title>Add Todo</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    <div class= side></div>
    <div class="main">
        <h3> Add Kegiatan</h3>
    <form action= "" method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
    
{% endblock content %}
