{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<head><title>Home</title></head>
{% endblock meta %}

{% block content %}

<div class="container">
    <center><p>Selamat Datang di Website!</p></center>
</div>
    
{% endblock content %}