{% extends 'base.html' %}
{% load static %}
{% block meta %}
<head><title>Add Matkul</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
    <div class="main">
        
    {% if kegiatan %}
        <h3> Daftar Orang di Kegiatan {{kegiatan.title }} </h3>		
    {% endif %}

    {% if orang %}
        {% for o in orang %}
        <p>{{o.nama}}</p>
        {%endfor%}
    {% else %}
        <p>Tidak ada orang di kegiatan ini</p>
    {% endif %}
    <a href='{%url "addorang" kegiatan.id %}'class="btn btn-primary"> Tambah Orang</a>
    <a href="/tampilkan" class="btn btn-primary">Tampilkan Semua Kegiatan </a>
    
    </div>
</div>
    
{% endblock content %}
