{% extends 'base.html' %}
{% load static %}
{% block meta %}
<head><title>Semua Kegiatan</title></head>
{% endblock meta %}

{% block content %}

<div class="row">
	<div class="side"></div>
    <div class="main">
		<h3> Daftar Kegiatan</h3>
	{% if ToDo %}
		<table style="width:100%">
			<tr>
			<th>Judul Kegiatan</th>
			<th>List Orang Kegiatan</th>
			<th>Opsi Tambah Orang</th>
			<th>Hapus Kegiatan</th>
			</tr>
			{%for td in ToDo %}
				<tr>
				<td> {{td.title}} </td>
				<td><a href='{%url "satu" td.id %}'>Orang di Kegiatan ini</a></td>
				<td><a href='{%url "addorang" td.id %}'> Add</a></td>
				<td><a href='{%url "hapus" td.id %}'> Hapus</a></td>
				</tr>
			{% endfor %}
				<br>
		</table>
	{% endif %}
	<a href="/add" class="btn btn-primary">Tambah Kegiatan</a>


    
    </div>
</div>
    
{% endblock content %}